<div style="border: 1px solid black">
  <h3>Child</h3>
  <p>Message: {{message}}</p>
  <label>New message:</label>
  <input type="text" #messageInput>
  <button (click)="newMessage(messageInput.value)">Submit</button>
</div>

